<body>
  <!-- HEADER for Clearence bundle-->
    <header>
        <% if signed_in? %>
          Signed in as: <%= current_user.email %>
        <%= button_to 'Sign out', sign_out_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign in', sign_in_path %>
        <% end %>
    </header>
    
    <!-- For Clearence bundle -->
    <section>
        <div id="flash">
          <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
        <% end %>
    </div>
    </section>
    
    <div class="list_wrapper">
<h1>List of Study Buddies</h1>

<div id="create_link">
<p>Would you like to create</p>
<%= link_to 'New buddy', new_buddy_path %>
<p>???</p>
</div>
 
<table>
  <tr>
    <th>Name</th>
    <th>Class</th>
    <th>Class#</th>
    <th>Section</th>
    <th>Topic</th>
    <th class="w">Comment</th>
  </tr>
 
  <% @buddies.each do |buddy| %>
    <tr>
      <td><%= buddy.fname %> <%= buddy.lname[0] %></td>
      <td><%= buddy.class_name %></td>
      <td><%= buddy.class_num %></td>
      <td><%= buddy.section_num %></td>
      <td><%= buddy.topic_1212 %></td>
      <td><%= buddy.comment %>
      <br>
      <%= link_to 'Show', buddy_path(buddy) %>
      <% if buddy.email == current_user.email %>
      <br>
      <%= link_to 'Edit', edit_buddy_path(buddy) %>
      <br>
      <%= link_to 'Destroy',
                             buddy_path(buddy),
                             method: :delete,
                             data: { confirm: 'Are you sure? :(' } %>
      </td>
      <% end %>
      
    </tr>
  <% end %>
</table>
</div>
  
</body>

