<h1>New Buddy</h1>

	<%= form_for :buddy, url: buddies_path do |f| %>
	
	    <p>
	    	<%= f.label :fname %><br>
	    	<%= f.text_field :fname %>
	    </p>
	    
	    <p>
	    	<%= f.label :lname %><br>
	    	<%= f.text_area :lname %>
	    </p>
	    
	     <p>
            <%= f.label :email %><br>
            <%= f.text_area :email %>
         </p>
         
         <p>
        	<%= f.label :gender %><br>
        	<%= f.select :gender, ['Male', 'Female', 'Other'] %>
        </p>
        
        <p>
	        <%= f.label :class_name %><br>
        	<%= f.select :class_name, ['ITSC'] %>
        </p>
        
            <%= f.label :class_num %> <br>
            <%= f.select :class_num, ['1212'] %> 
        
        <p>
        	<%= f.label :section_num %><br>
        	<%= f.select :section_num, ['101', '123', '140', '151'] %> <br>
        </p>
        
        <p>
        	
        	<%= f.label :topic_1212 %><br>
        	<%= f.select :topic_1212, ['Accessors', 'Expressions', 'Arrays', 
			             'Boolean', 'Class Structure', 'Loops', 'Flowcharts',
				     'Method calling', 'Scanner and Random generators', 'Switch', 'String methods', 'Method classification (main, static, void, etc)' ] %> <br>
        </p>
        
         <p>
            <%= f.label :availability %><br>
            <%= f.select :availability, ['Monday', 'Tuesday', 'Wednesday', 
			             'Thursday', 'Friday', 'Saturday','Sunday' ] %> <br>
         </p>
         
        <p>
            <%= f.label :time %><br>
            <%= f.select :time, ['7:00AM-8:00AM', '8:00AM-9:00AM', '9:00AM-10:00AM', 
			             '10:00AM-11:00AM', '11:00AM-12:00AM', '12:00AM-1:00PM','1:00PM-2:00PM','2:00PM-3:00PM', '3:00PM-4:00PM', '4:00PM-5:00PM', 
			             '5:00PM-6:00PM', '6:00PM-7:00PM', '7:00PM-8:00PM','8:00PM-9:00PM' ] %> <br>
         </p>
        
        <p>
            <%= f.label :comment %><br>
            <%= f.text_area :comment %>
         </p>



	    <p>
	    	<%= f.submit %>
	    </p>
	    

	<% end %>
