<div
<h1>Information about Studdy Buddy!</h1>
<p>
    <strong>First Name:</strong>
    <%= @buddy.fname %>
</p>
<p>
    <strong>Last Name:</strong>
    <%= @buddy.lname %>
</p>
<p>
    <strong>Email:</strong>
    <%= @buddy.email %>
</p>
<p>
    <strong>Gender:</strong>
    <%= @buddy.gender %>
</p>
<p>
    <strong>Class:</strong>
    <%= @buddy.class_name %>
</p>
<p>
    <strong>Class number:</strong>
    <%= @buddy.class_num %>
</p>
<p>
    <strong>Section number:</strong>
    <%= @buddy.section_num %>
</p>
<p>
    <strong>Topic:</strong>
    <%= @buddy.topic_1212 %>
</p>
<p>
    <strong>Availability:</strong>
    <%= @buddy.availability %>
</p>
<p>
    <strong>Time:</strong>
    <%= @buddy.time %>
</p>
<p>
    <strong>Comment:</strong>
    <%= @buddy.comment %>
</p>
<%= link_to 'Listing Buddies', buddies_path %>